/* This will reset all the default styling fo the html elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Using the google font all over the page */
body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

/* Banner section */
.banner {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 519px;
}

.textfield {
  font-size: 30pt;
  font-weight: 400;
  line-height: 56px;
  position: absolute;
  top: 132px;
  left: 101px;
  right: auto;
  color: white;
  text-shadow: 2px 2px #2c2c2c;
}

.textfield input {
  margin-top: 20px;
  font-size: 24px;
  color: rgb(27, 27, 27);
  padding: 10px;
  border: 2px solid blue;
  border-radius: 5px;
  width: 500px;
}

.unilogo {
  background-image: url(../images/university-logos.png);
  background-size: cover;
  width: 100%;
  height: 272px;
}

.unilogo h2 {
  position: relative;
  top: 50px;
  text-align: center;
  padding: 2px;
  font-size: 24pt;
}
