* {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar secion */
.navbar {
  display: flex;
  flex-direction: row;
  flex-basis: 1;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(244, 244, 244, 100%);
  padding: 5px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 101px;
}

nav ul li {
  list-style-type: none;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  transition: 0.3s;
  padding: 5px;
}

nav ul li button{
    padding: 10px;
    background-color: blue;
    border: none;
    border-radius: 10px;
}

nav ul li a:hover{
    border-bottom: 3px solid cornflowerblue;
    
}

nav ul li button a{
    color: rgb(255, 255, 255);
}
nav ul li button a:hover{
    border: none;
}

.navbar h2 {
  margin-left: 101px;
  font-size: 24pt;
  font-style: normal;
  font-weight: 400;
}


