/* Reset all the default margin and padding  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body{
    
    background: linear-gradient(109.45deg, #4ACBD3 20.26%, rgba(145, 14, 206, 0) 96.64%);
    background-size: cover;
    background-repeat: no-repeat;
}
/*From container height  */
.regform-container{
    height: 630px;
}

/* Actual form design */
.regform-container form{
    width: 1139px;
    margin: 5px auto;
    background: #EFEFEF;
    border: 2px solid #00C2FF;
    box-shadow: 7px 9px 24px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
}

/* Table insde the registration form which contain input filed */
.regform-container form table{
    width: 300px;
    margin: 0 auto;
}

/* Heading styling above the form input field */
.reg-form h3{
    padding: 50px;
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    line-height: 30px;
}

/* All input and select box styling */
.regform-container input, select{
    margin-top: 20px;
    font-size: 14pt;
    padding: 7px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 5px;
}

/* Sing up button styling */
#singupbtn{
    margin-top: 25px;
    font-size: 14pt;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    background-color: black;


}


.regform-container p {
    margin-top: 10px;
    margin-bottom: 30px;

}

.regform-container p a{
    text-decoration: none;
    color: black;
    font-size: 14pt;
    line-height: 16px;

}



