* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stdbanner-container {
  margin: 0 auto;
  background-image: url(../images/std-dashbaord-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1299px;
  height: 188px;
  text-align: center;
}

.inner-banner {
  position: relative;
  top: 50px;
  padding: 20px;
  margin: 0 auto;
  width: 558px;
  border: 2px solid black;
  line-height: 30px;
}
.page-heading {
  margin-left: 124px;
  padding: 20px 0px;
}
